<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="b-example-divider"></div>

    <header class="p-3 bg-dark text-white">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="/"
            class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
          >
            <svg
              class="bi me-2"
              width="40"
              height="32"
              role="img"
              aria-label="Bootstrap"
            >
              <use xlink:href="#bootstrap" />
            </svg>
          </a>

          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
          >
            <li>
              <a href="#" class="nav-link px-2 text-secondary">Home</a>
            </li>
            <li>
            <li>
              <a  class="nav-link px-2 text-white" [routerLink]='["/about"]' routerLinkActive="active" onclick="document.getElementById('container1').style.visibility='hidden' " >About</a>
            </li>
            
            <li><a  class="nav-link px-2 text-white" [routerLink]='["/contact"]' routerLinkActive="active" onclick="document.getElementById('container1').style.visibility='hidden' " >Contact Us</a></li>
            <li><a href="#" onclick ="myfunc()" class="nav-link px-2 text-white" id ="logout">Log Out</a></li>
          </ul>
          <h2 class="welcome"> Phoenix Bus</h2><br>
          <h6 class="small">Make Bookings Easy</h6>
          <img src="/assets/runbus.gif">
          <!-- <div class="text-end"> -->
            <!-- <button type="button" class="btn btn-outline-light me-2" [routerLink]='["/login"]' routerLinkActive="active" onclick="document.getElementById('container1').style.visibility='hidden' ">Login 
            </button>
            <button type="button" class="btn btn-warning" [routerLink]='["/signup"]' routerLinkActive="active" onclick="document.getElementById('container1').style.visibility='hidden' ">Sign-Up </button> -->
            <!-- <button type="button" class="btn btn-outline-light me-2" [routerLink]='["/payment"]' routerLinkActive="active" onclick="document.getElementById('container1').style.visibility='hidden' ">Payment</button> -->
            <!-- <button type="button" class="btn btn-outline-light" [routerLink]='["/seats"]' routerLinkActive="active" onclick="document.getElementById('container1').style.visibility='hidden' ">Show Seats</button> -->
           
          <!-- </div> -->
        </div>
      </div>
    </header>
    <!-- <app-login></app-login> -->
    <!-- <app-sign-up></app-sign-up> -->
    <div id="container1" class="container1">
      <div class="source">
        <label for="Source" style="margin-right:80px;"><h3>Source</h3></label><br>
        <select name="source" id="source">
          <option value="Source 1">Enter Source</option>
          <option value="Source 1">Goa</option>
          <option value="Source 2">Pune</option>
          <option value="Source 3">Mumbai</option>
          <option value="Source 4">Bangalore</option>
        </select>
      </div>
      <div class="destination">
        <label for="Destination"style="margin-right:80px;"><h3>Destination</h3></label>
        <select name="Destination" id="Destination">
          <option value="Destination 1">Enter Destination</option>
          <option value="Destination 1">Chennai</option>
          <option value="Destination 2">Delhi</option>
          <option value="Destination 3">Hydrabad</option>
          <option value="Destination 4">Jaipur</option>
        </select>
        
      </div>
      <br><br>
      <label for="date" style="margin-left: 170px;"><h3>Departing</h3></label>
      <input type="date" name="date" id="date" class="date" />
      <br />
      <br />
      <div class="submit"> <button type="button" class="btn btn-warning" [routerLink]='["/show-buses"]' routerLinkActive="active" onclick="document.getElementById('container1').style.visibility='hidden' ">Check Availability</button></div>
  
    </div>
    <!-- <app-show-buses></app-show-buses> -->
    
    <router-outlet></router-outlet>
    <div id="contact">Email :teampheonix.ibm@gmail.com <br>Phone : 9876543210</div>
  </body>
  
  
</html>
