.container1{
    /* min-width:70vw ; */
    display:inline-block;
    background-color: rgb(194, 173, 133);
    border-radius: 10px;
    position: relative;
    left: 25%;
    top: 90px;
    width: 50vw;
    /* align-items: center; */
}
.source{
    /* background-color:Yellow; */
    width: 30%;
    display: inline-block;
    left: 15%;
    position: relative;

}
.destination{
    /* background-color:Yellow; */
    width: 30%;
    display: inline-block;
    
    margin-left: 30%;

}
.date{
    position: relative;
    left :7%
}
.submit{
    position: relative;
    left: 35%;
    /* background-color: rgba(255, 0, 0, 0.336); */
    /* color:blue; */
}
.welcome{
    color: rgb(214, 13, 13);
    display: block;
    /* background-color: #fff; */
    /* margin:auto; */
    position: relative;
    right: 25vw;


}.small{
    position: relative;
    right: 50vh;
    font-weight:700;
}
img{
    display: inline-block;
    width: 120px;
    border-radius: 20px;
}