.container1{
    display:inline-block;
    background-color: rgb(194, 173, 133);
    border-radius: 10px;
    position: relative;
    left: 25%;

    top: 90px;
    width: 50vw;
    /* align-items: center; */
}
.source{
    /* background-color:Yellow; */
    width: 30%;
    display: inline-block;
    left: 15%;
    position: relative;

}
.destination{
    /* background-color:Yellow; */
    width: 30%;
    display: inline-block;
    
    margin-left: 30%;

}
.date{
    position: relative;
    left :7%
}
.submit{
    position: relative;
    left: 35%;
    /* background-color: rgba(255, 0, 0, 0.336); */
    /* color:blue; */
}
.welcome{
 color: rgba(241, 16, 8, 0.856);
 position: relative;
 left:-70px;
}