<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
   
  </head>

  <body>
      <div class="all">
    <div class="fullbus">
      <div class="busrow">
        <div class="steering"></div>
      </div>
      <div class="busrow">
        <div id="1" class="seat" onclick="myFunction(id)"></div>
        <div id="2" class="seat" onclick="myFunction(id)"></div>
        <div class="gap"></div>
        <div id="3" class="seat" onclick="myFunction(id)"></div>
        <div id="4" class="seat" onclick="myFunction(id)"></div>
      </div>
      <div class="busrow">
        <div id="5" class="seat" onclick="myFunction(id)"></div>
        <div id="6" class="seat" onclick="myFunction(id)"></div>
        <div class="gap"></div>
        <div id="7" class="seat" onclick="myFunction(id)"></div>
        <div id="8" class="seat" onclick="myFunction(id)"></div>
      </div>
      <div class="busrow">
        <div id="9" class="seat" onclick="myFunction(id)"></div>
        <div id="10" class="seat" onclick="myFunction(id)"></div>
        <div class="gap"></div>
        <div id="11" class="seat" onclick="myFunction(id)"></div>
        <div id="12" class="seat" onclick="myFunction(id)" ></div>
      </div>
      <div class="busrow">
        <div id="13" class="seat" onclick="myFunction(id)"></div>
        <div id="14" class="seat" onclick="myFunction(id)"></div>
        <div class="gap"></div>
        <div id="15" class="seat" onclick="myFunction(id)"></div>
        <div id="16" class="seat" onclick="myFunction(id)"></div>
      </div>
      <div class="busrow">
        <div id="17" class="seat" onclick="myFunction(id)"></div>
        <div id="18" class="seat" onclick="myFunction(id)"></div>
        <div class="gap"></div>
        <div id="19" class="seat" onclick="myFunction(id)"></div>
        <div id="20" class="seat" onclick="myFunction(id)"></div>
      </div>
      <div class="busrow">
        <div id="23" class="seat" style="background-color: green; width: 20px; height: 20px;"></div>Selected
        <br><div id="22" class="seat" style="background-color: white; width: 20px; height: 20px;" ></div>Vacant
        <br><div id="21" class="seat" style="background-color: grey; width: 20px; height: 20px;" ></div>Booked
      </div>
    </div>
    <div class="total">
      <h3 style="display: inline">
        Your Total is :
        <h3 style="display: inline" class="TotalAmount" id="totam"></h3>
      </h3>
      <br>
      <h3 class="details" style="display: inline">Seats : <h3 style="display: inline" class="details" id="details"></h3> </h3>
      <h3 align="center">Proceed to Pay</h3>
      <div class="confirmation">
        <button class="proceed" type="button"  [routerLink]='["/passengerdetails"]' routerLinkActive="active" onclick="document.getElementById('container1').style.visibility='hidden' ">Proceed</button>
        <button class="cancel">Cancel</button>
      </div>
    </div>
</div>
  </body>
  
  
</html>
