.all{
    background-color: rgb(194, 173, 133);
    display: inline-block;
    height:70vh;
    margin: -150px 220px;
}
body{
    background:none;
}
.fullbus{
    border: 3px solid ;
    height: 400px;
    width: 250px;  
    margin: 0px 120px;
    background-color: rgb(240, 234, 234);
    display: inline-block;
    z-index: 3;
    border-radius: 10px;
}
.busrow{
    /* border: 2px red solid; */
    width: 245px;
    height: 50px;
    position: relative;
    margin: auto;
    /* background-color:rgb(0, 255, 157); */

}
.seat{
    border: 2px rgb(68, 0, 255) solid;
    width: 35px;
    height: 35px;
    position: relative;
    margin: 3px;
    display: inline-block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* left: 2px; */
    /* top: 5px; */
    background-color: white;
    text-align: center;
    
    
}
.gap{
    display: inline;
    margin: 40px;
}
.steering{
    border: 2px rgb(32, 19, 216) solid;
    width: 35px;
    height: 35px;
    position: relative;
    display: inline-block;
    top: 5px;
    border-radius: 50%;
    left: 190px;
    background-size: contain;
    animation: rotation 2s infinite linear;
  background-image: url("https://pngimg.com/uploads/steering_wheel/steering_wheel_PNG16685.png");
}.total{
    /* border: 2px solid; */
    display: inline-block;
    width: auto;
    position: relative;
    top: -15vh;
    /* background-color:rgb(230, 174, 174); */
    
}
.confirmation{
    margin: 0px 65px 0 65px;
}
.proceed{
    background-color: green;
    color: #fff;
}
.cancel{
    background-color: red;
    color: #fff;
    margin: 0 16px;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }