<div class="about">
    <h5>Phoenix Bus Booking System provides a facility to quick reservation.
        It allows you to book bus tickets sitting at your home. You can book tickets anytime anywhere. 
        Allows you to search busses for various routes.
        Shows various type of buses at different time.
        Let Customer to select seat of their choice.
        It maintains all the data of users, bus details, booking details and customer details.
        Easy payment facility.
        You’ll get ticket on registered email after booking.
        In addition, you can access your tickets anytime without fear of loosing it.</h5>
</div>
