<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Passenger Details</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
    <div class="heading">
        <h3 align="center">Enter Passenger Details</h3>
    </div>
    <div class="formforpassenger">
        <form action="/">
            <div class="tickdet">
                <h4 align="center">
                    Your Tickets Details will be sent to below Email & Phone
                </h4>

                <label for="phone">Phone</label><br />
                <input type="tel" class="inputwidth" name="phone" id="phonenumber" placeholder="Enter your phone number"
                    style="border-radius: 7px; width: 40vw" />
                <br />
                <br />
                <label for="email">Email</label> <br />
                <input type="email" name="email" id="email" class="inputwidth" placeholder="Email (Optional)"
                    style="border-radius: 7px" />
                <br />
                <br />
             <div class="cont">
                <button name="cancel" class="cancel">Cancel</button>
                <button type="submit" class="proceed" [routerLink]="['/payment']" routerLinkActive="active"
                    onclick="document.getElementById('container1').style.visibility='hidden' ">
                    Proceed
                </button>
            </div>
            </div>
        </form>
    </div>
</body>
<!-- <script>console.log(localstorage('seats'));</script> -->

</html>