
        body{
            /* background-color: rgb(219, 190, 154); */
            margin:0px;
        }
        .heading{
        
            /* height: 20vh; */
            background-color: rgb(145, 9, 9);
            padding: 10px;
            width:50vw;
            position:relative;
            top: -220px;
            margin: auto;
            border-radius: 10px 10px 0 0;
            /* border: 3px solid rgba(72, 75, 72, 0.63); */
        }
        .heading h1{
            color:white;
            text-align: center;
        }
        .formforpassenger {
            margin:auto;
            margin-top:-20vh 0 0 0 ;
            width:50vw;
            position: relative;
            top: -220px;
            border-radius: 0 0 10px 10px;
            /* border: 3px solid rgba(72, 75, 72, 0.63); */
            /* padding: 10px;  */
            /* text-align: center; */
            background-color: rgb(190, 164, 149);
          }
          .toleft{
              /* color:rgb(155, 146, 146); */
              /* background-color: rgba(68, 66, 66, 0.39); */
              margin-right: 20%;
              
              
          }
          .proceed{
              height: 40px;
              background-color: rgb(9, 126, 9);
              /* border-radius: 10px; */
              color: aliceblue;
              margin-left: 20px;
              width: 100px;
          }
          .cancel{
            height: 40px;
            background-color: rgb(201, 13, 13);
            /* border-radius: 10px; */
            color: aliceblue;
            margin-left: 90px;
            width: 100px;
        
          }
          .styling
          {
              /* background-color: rgba(230, 123, 224, 0.856); */
              /* border-radius: 15px; */
              font-family:  'Times New Roman', serif;
              margin: 0 0 0 10px;
          }
  .inputwidth{
      width:40vw;
      height: 30px;
  }
  .age{
      display: inline;
      /* background-color: green; */
      float: right;
      margin: -35px 10vw;
      position: relative;
      top: -15px;

  }
  .gender{
      display: inline;
      /* background-color: red; */
  }
.tickdet{
    margin: 0 0 0 10px;
}
  
body{
    margin-top: 90px;
}
.passenger1{
    display: none;

}
.passenger2{
    display: none;

}
.passenger3{
    display: none;

}
.passenger4{
    display: none;

}
.passenger5{
    display: none;

}