body{
    /* background-color: ; */
    margin-top: -90px;
    background:none;
}
.showbuses{
    background-color: #fff;
    width: 70vw;
    margin: auto;
    /* display: inline; */
    background-color: rgb(194, 173, 133);
}
button{
    background-color: green;
    color: white;
}