.fullbus{
    border: 3px solid ;
    height: 400px;
    width: 250px;  
    margin: 50px 200px;
    background-color: rgba(128, 128, 128, 0.301);
    display: inline-block;
}
.busrow{
    /* border: 2px red solid; */
    width: 245px;
    height: 50px;
    position: relative;
    margin: auto;
    background-color:rgba(0, 0, 255, 0.219);

}
.seat{
    border: 2px rgb(68, 0, 255) solid;
    width: 35px;
    height: 35px;
    position: relative;
    margin: auto;
    display: inline-block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* left: 2px; */
    /* top: 5px; */
    background-color: rgba(212, 223, 174, 0.822);
    text-align: center;
    
    
}
.gap{
    display: inline;
    margin: 30px;
}
.steering{
    border: 2px rgb(32, 19, 216) solid;
    width: 35px;
    height: 35px;
    position: relative;
    display: inline-block;
    top: 5px;
    border-radius: 50%;
    left: 190px;
    background-size: contain;
  /* background-image: url("Steering.png"); */
}.total{
    border: 2px solid;
    display: inline-block;
    width: auto;
    position: relative;
    /* left: 10vw; */
    background-color:rgba(230, 174, 174, 0.493);
    
}
.confirmation{
    margin: 0px 95px;
}