<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
  </head>
  <body>
    <div class="pay" id="paymentpage">
      <div class="details">
        <h5 style="display: inline; padding-right: 10px;">Name :</h5>  
        <p style="display: inline;" class="passengername">
             Juhi Singh
        </p><p style="display: inline; margin: auto 10px;">|</p>
        <h5 style="display: inline; padding-right: 10px;">Phone :</h5>  
        <p style="display: inline;" class="passengerphone">9876543210
        </p><br>
        <h5 style="display: inline; padding-right: 10px;">Email :</h5>  
        <p style="display: inline;" class="passengeremail">
             juhisingh@gmail.com
        </p><br>
        <h3 align="center"> Travel Details </h3>
        <h5 style="display: inline; padding-right: 10px;">Source :</h5>  
        <p style="display: inline; " class="busFrom">
             Pune
        </p>
        <h5 style="display: inline; padding-left: 40px;">Destination :</h5>  
        <p style="display: inline;" class="busto">
             Chennai
        </p><br>
        <h5 style="display: inline;">Seat number : </h5>1,2
        
        <h5 style="display: inline; margin-left: 10px;">Date of Journey :</h5><p style="display: inline;" class="doj">30/01/2022</p>
        </div>
      <br>
      
      <!-- <div id="popup"></div> -->
      <div  class="paymentdetails"><h5 style="margin-left: 10px;">Card Details</h5>
      <form action="/">
        <input type="number" class="styling" name="card" id="cardnumber" placeholder="CARD NUMBER"
         />
        <input type="text" class="styling" name="name" id="name" placeholder="NAME ON CARD"  /><br><br>
          <label for="expiryDate" style="margin-left: 10px;">Expiry Date</label><br>
        <input type="month" class="styling" />
        <input type="text" class="styling" name="name" id="name" placeholder="CVV NUMBER"/><br><br>
        <button type="button"  onclick="alert('Payment Successfull');  document.getElementById('paymentpage').style.visibility='hidden' " ><a href="#">PAY</a>  </button>
        </form>
        
    </div>
</div>

 </body>  
</html>
