<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="login.component.css"> -->
</head>
<body>
    <form class="loginForm">
        <div class="form-group">
          <h3>Login</h3>
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="">
        <a class=" blue"  [routerLink]='["/signup"]' routerLinkActive="active">Not a User ?Click Here to SignUp</a>
        
        </div>
        <button type="submit" class="btn btn-primary" [routerLink]="['/passengerdetails']" routerLinkActive="active">Login</button>
      </form>
    
</body>
</html>
